.nav_bar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 70vw;
  position: relative;
}

.button1 {
  border: 3px solid #ffef08;
  padding: 6px 10px 6px 10px;
  font-weight: 900;
  border-radius: 8px;
  color: white;
  background-color: transparent;
  min-width: 80px;
  font-family: Courier, monospace;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

.button1:hover {
  box-shadow: 0 0 10px 10px #ffef08;
  color: #ffef08;
}
.button2 {
  height: 50px;
  width: 150px;
  font-size: 22px;
  margin: 20px;
}

.button2 > a {
  text-decoration: none;
  color: #ffffff;
}
.button2 > a:hover {
  color: #ffef08;
  background-color: #000000;
}

.imgdiv {
  display: flex;
  flex-wrap: wrap;
}
/* Mobile/Hamburger menu ///////////////////////////////////////////////////////////////////*/

.menu-wrap {
  display: none;
  z-index: 5;
}

.menu-wrap .toggler {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0;
  border-radius: 6px;
  padding: 6px;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 40px;
  height: 40px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.mbl-menu {
  font-size: 36px;
  font-weight: bolder;
}

/*Lines Hamburger*/

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #ffef08;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 8;
  top: -10px;
  width: 100%;
  height: 4px;
  background: inherit;
}

.menu-wrap .hamburger > div:after {
  top: 10px;
}

/*Toggler animate*/

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/*Rotate on hover*/

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 2;
}

.menu-wrap .menu > div {
  background: #000000;
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  opacity: 0.9;
  z-index: 500;
}

.menu-wrap .menu > div > span {
  width: 200%;
  padding-bottom: 200%;
  height: auto;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: #ffef08;
  text-decoration: none;
  transition: color 0.4s ease;
}

i {
  padding: 10px;
}

.dropdown_menu {
  position: absolute;
  width: 250px;
  top: 40px;
  right: 0px;
  border-radius: 5px;
  background-color: #222325e0;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  animation: slide 0.1s linear;
  transform-origin: top;
  text-align: right;
}
.dropdown_menu:before {
  content: "";
  position: absolute;
  align-self: right;
  border: 8px solid transparent;
  border-bottom: 8px solid rgb(117, 185, 130);
  right: 33px;
  top: -10px;
  margin-bottom: 3px;
  vertical-align: bottom;
}

.dropdown_menuItem {
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  padding: 14px;
  margin: auto;
  color: rgb(247, 243, 243);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  border: transparent;
  outline: none;
  display: block;
}

.footer-main {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 20px 20px 20px;
}


.logoDB:hover{
  scale:1.2;
  background-color:#ffef08;
  box-shadow:
    0 0 120px 100px #ede58e, 
    0 0 180px 120px rgb(223, 229, 139),
    0 0 240px 200px rgb(246, 255, 0);

}
.nav_bar:hover .logoDB {
  animation: logoani 6s ease-out;
  scale: 1.3;
  background-color: #ffef08;
  transform: rotate(90deg);
  box-shadow: 0 0 40px 60px #ede58e, 0 0 90px 70px rgb(223, 229, 139),
  0 0 120px 100px rgb(246, 255, 0);
}

.pp {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  filter: sepia(0.5)
}

.pp:hover {
  scale: 1.1;
  box-shadow: 0 0 5px 10px #ffef08;
  filter: saturate(2);
}
.pp:hover .showbox{
  filter: saturate(2);
}
@keyframes ppani {

}

@keyframes logoani {
  0% {
    transform: translateX(0px);
   

  }
  25% {
    transform:  translateX(-60px) scale(0.8) rotate(90deg);
  }
  50% {
    transform:  translateX(60vw) scale(0.9) rotate(90deg);
  }
  75%{
    transform: translateX(-60px)  scale(1) rotate(90deg);
  
  }
  100% {
    transform: 
   scale(1.2) rotate(90deg);
   box-shadow: 0 0 40px 60px #ede58e, 0 0 90px 70px rgb(223, 229, 139),
   0 0 120px 100px rgb(246, 255, 0);
    
    
  }
}

.navbtns {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

/* Landing starts here ///////////////////////////////////////////////////////////////////////////////////////*/
.landing {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.deskMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
}
.introSide {
  min-height: 110vh;
  width: 40vw;
  min-width: 200px;
  background-color: rgb(27, 26, 26, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: auto;
  z-index: 2;
}

.introp {
  text-align: center;
}
.projSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
}
.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.banner {
  height: 600px;
  width: 200px;
  background-color: rgb(27, 26, 26);
}
.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  
  margin: 20px;
  font-size: 18px;
  font-weight: 900;
}
.showbox {
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  flex-direction: row;
  flex-wrap: wrap;
  color: #ffef08;
}

.hidbox {
  width: 280px;
  height: 180px;
  display: none;
  color: #ffef08;
  padding: 18px;
  overflow: scroll;
}

.boxes:hover .box {
  width: 100%;
  flex-direction: row;
  margin: 6px;
}
.boxes:hover .hidbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}
.boxes:hover .showbox{
  filter: saturate(3);
}
.box:hover {
  box-shadow: 0 0 10px 10px #ffef08;
}
.demoTxt {
  display: flex;
}

.projSide:hover .demoTxt {
  display: none;
}

.myDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projimg  {
  height: 200px;
  width: 180px;
  object-fit:contain;
  aspect-ratio: 3/2;
}
/*cvpage  //////////////////////////////////////////////////////////////////////////////////////////*/

.cvPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.nameme {
  font-weight: 700;
  font-size: xx-large;
}

.cvsec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: -1;
}
.cv-row {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  min-width: 70%;
  z-index: 10;
  margin: 20px;
  padding: 20px;
  z-index: 1;
}
.schools {
  box-shadow: 3px 3px #ffef08, -0.2em 0 0.2em #ede58e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 20px;
  padding: 10px;
  flex-wrap: wrap;
  z-index: -1;
}

/* typewritwerrr */
.typewriter {
  margin-top: 60px;
}
.typewriter p {
  border-right: 0.15em solid orange;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  color: #ffef08;
}
.typewriter p:nth-child(1) {
  width: 19em;
  -webkit-animation: type 2s steps(30, end);
  animation: type 2s steps(30, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.typewriter p:nth-child(2) {
  width: 20em;
  opacity: 0;
  -webkit-animation: type2 2s steps(30, end);
  animation: type2 2s steps(30, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.typewriter p:nth-child(3) {
  width: 17em;
  opacity: 0;
  -webkit-animation: type3 2s steps(40, end),
    blink 0.5s step-end infinite alternate;
  animation: type3 2s steps(40, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

.box-head {
  color: #ffef08;
  z-index: 10;
  opacity: 100%;
  font-weight: bolder;
}

.square {
  height: 48px;
  width: 48px;
  background-color: #383232;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  color: #ffef08;
  font-weight: 900;
}
.square:hover {
  background-color: #ffef08;
  color: black;
}
.board-row {
  display: flex;
  flex-direction: row;
}

#ttt {
  font-size: 0.8em;
  color: #ffffff;
  margin-top: 0px;
}
.tic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  text-align: center;
}
.tac {
  margin-bottom: 20px;
}
.toe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-board {
  position: relative;
}
.game-info {
  margin-top: 8px;
}

.header2 {
  font-size: 28px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Lobster";
}
.header1 {
  font-size: 32px;
  color: #ffef08;
  font-weight: 900;
  font-family: "Lobster";
}
.header3 {
  font-size: 24px;
  color: #ffef08;
  font-weight: 900;
  font-family: "lobster";
}

/*Contact starts here---------------------------------------------------------------*/
.contactmain {
  min-height: 600px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-color: rgb(27, 26, 26, 0.5);
  z-index: 1;
}
.contact {
  display: flex;
  flex-direction: column;
  margin: 10px 30px 10px 30px;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: #000000;
  height: 400px;
}
.social {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.float {
  height: 240px;
  width: 240px;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.faIcon {
  color: #ffef08;
  margin: 40px;
}
.faIcon2 {
  font-size: 40px;
}
.faIcon:hover {
  box-shadow: 0 0 10px 10px #ffef08;
}
.formClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formClass > p {
  margin-top: 10px;
}
.formClass > input,
textarea {
  width: 200px;
  margin: 10px 0px 10px 0px;
  height: 30px;
  background-color: #ffef08;
}

@media screen and (max-width: 780px) {
  body {
    margin: 6px;
    display: flex;
  }
  .deskMain {
    flex-direction: column;
  }
  .introSide,
  .schools,
  .contact,
  .social,
  .float {
    width: 86%;
  }
  .introSide{
    min-height: 90vh;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 280px;
    justify-content: space-around;
    width: 100%;
    padding: 8px;
  }

  .menu-wrap {
    display: inline;
  }
  .navbtns {
    display: none;
  }

  .projSide {
    width: 90%;
  }
  .hidbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .showbox {
    height: 180px;
    width: 180px;
    margin-top: 40px;
  }
  #ttt {
    text-align: center;
  }
  .boxes:hover .box {
    flex-direction: column;
  }
  .boxes:hover .hidbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    font-size: 16px;
  }
  .footer-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contactmain {
    flex-direction: column;

    height: 750px;
  }
  .contact {
    width: 90%;
  }

  .float {
    width: 250px;
    height: 220px;
  }
}
