 body {
  background-color: rgb(2, 2, 2);
  
  color: white;
  font-family:  Courier, monospace;
  text-align: center;
  
  flex-direction: column;
  
  font-size: 18px;



}
.App{
  height: 100%;
  width: 100%;

  animation: appSlide 1s ease-in-out;

}
.app-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}
@keyframes appSlide {
  from{transform: translateY(-90%);}
  to{transform: translateY(0%);
 }
}
.glowBoy {
  position: fixed;
  top: 80%;
  left: 80%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -50;
  opacity: 70%;
  box-shadow:
    0 0 60px 50px #ede58e, 
    0 0 90px 60px rgb(223, 229, 139),
    0 0 120px 100px rgb(246, 255, 0);
}

.button1 {
  border: none;
  padding: 6px 10px 6px 10px;
  font-weight: 900;
  border-radius: 8px;
  color: #ffef08;
  background-color: transparent;
  min-width: 80px;
  font-family:  Courier, monospace;
  text-decoration: none;

}


.button1:hover{
 scale: 1.1;
  color: #ffef08;
}


.logoBG{
  /* background: url("./assets/logoDB.png");
  background-size: cover;
  z-index: -9;
  height: 250px;
  width: 250px;
  transform:rotate(70deg);
  position: absolute;
  filter: contrast(0%) brightness(0%);
  bottom: 0%;
  right: 15%; */
  display: none;
}